<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Мой пустой сайт (Django)</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Приветственный экран</h1>

    <div class="card">
        <p>Это пример карточки с уютным дизайном.</p>
    </div>

    <button>Красивая кнопка</button>
    <a href="#" class="btn">Ссылка-кнопка</a>

    <form>
        <input type="text" placeholder="Ваше имя">
        <textarea placeholder="Сообщение"></textarea>
        <button type="submit">Отправить</button>
    </form>
  </div>
</body>
</html>
